<h2>Buchung erfolgreich</h2>
<!-- Confirmation banner needs to be implemented -->
<p>Zum Testtermin bringen Sie bitte mit:</p>
<ol>
  <li>Ihren Laufzettel <!-- "Laufzettelnummer" needs to be implemented/shown --></li>
  <li>Ihren Lichtbildausweis</li>
</ol>
<p-button label="Laufzettel herunterladen"></p-button>
<p>
  Für eine möglichst schnellen Testablauf drucken Sie den Laufzettel aus und bringen Sie ihn zum testtermin mit.
  Ein Ausdrucken vor Ort kann nicht sichergestellt werden, da nicht alle Test-Staationen über Drucker verfügen.
</p>
