<h2>Buchung erfolgreich</h2>
<!-- Confirmation banner needs to be implemented -->
<p>Zum Testtermin bringen Sie bitte mit:</p>
<ol>
  <li>Ihren Laufzettel (nummer: {{dataProvider.data.pdfNumber}})</li>
  <li>Ihren Lichtbildausweis</li>
</ol>
<p-button label="Laufzettel herunterladen"></p-button>
<p>
  Für einen möglichst schnellen Testablauf drucken Sie den Laufzettel aus und bringen Sie ihn zum Testtermin mit.
  Ein Ausdrucken vor Ort kann nicht sichergestellt werden, da nicht alle Test-Stationen über Drucker verfügen.
</p>

