<h2>Screeningstation auswählen</h2>
<p>Bitte wählen Sie eine der verfügbaren Screeningstationen aus</p>

<label for="ddDistricts">Bezirk:</label>

<p-dropdown [(ngModel)]="selectedDistrict" [options]="districts" (selectionchange)="districtSelected()" id="ddDistricts"></p-dropdown>

<p-listbox [(ngModel)]="selectedStation" [options]="screeningstations" (onChange)="stationChanged()" optionLabel="name">
    <ng-template let-facility pTemplate="item">
        <app-screeningstation-item [screeningStation]="facility"></app-screeningstation-item>
    </ng-template>
</p-listbox>

<div *ngIf="selectedStation">
    <h3>Gewählte Screeningstation</h3>

    <app-screeningstation-item [screeningStation]="selectedStation"></app-screeningstation-item>
</div>

<div class="form-row stepNavigation">
    <p-button (onClick)="submit()" label="Weiter"></p-button>
</div>
