<section class="registration-start">

  <h1>Anmeldung zum COVID-19 Schnelltest in Oberösterreich</h1>
  <h5 class="p-mt-3">Bitte geben Sie hier Ihre Kontaktdaten ein:</h5>
  <label class="">Mit <span class="required-field-description">*</span> gekennzeichnete Felder sind
    verpflichtend</label>

  <div [formGroup]="registrationForm" class="p-fluid p-formgrid p-grid ">

    <div class="p-float-label p-col-12 p-md-6 p-mt-5">
      <input class="p-inputtext p-inputwrapper-filled" formControlName="firstname" id="PreName"
             type="text"/>
      <label class=" required-field" for="PreName">Vorname</label>

      <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
        Bitte geben Sie Ihren Vornamen ein.
      </div>
    </div>

    <div class="p-float-label p-col-12 p-md-6 p-mt-5">
      <input class="p-inputtext p-inputwrapper-filled" formControlName="lastname" id="SurName"
             type="text"/>
      <label class=" required-field" for="SurName">Nachname</label>

      <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
        Bitte geben Sie Ihren Nachnamen ein.
      </div>
    </div>

    <div class="p-float-label p-col-12 p-md-6 p-mt-6">
      <p-inputMask class="p-inputwrapper-filled" formControlName="birthdate" id="Geb" mask="99.99.9999"
                   placeholder="TT.MM.JJJJ" (onBlur)="birthdateBlur()"></p-inputMask>
      <label class=" required-field" for="Geb">Geburtsdatum</label>

      <div *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)" class="alert alert-danger">
        Bitte geben Sie Ihr Geburtsdatum ein.
      </div>
    </div>

    <div class="p-float-label p-col-12 p-md-6 p-mt-6">
      <p-dropdown [options]="genders" class="p-inputwrapper-filled" id="sex"></p-dropdown>
      <label class=" required-field" for="Sex">Geschlecht</label>
    </div>

    <!-- TODO: social number binding -->
    <div class="p-float-label p-col-12 p-md-6 p-mt-6">
      <p-inputMask class="p-inputwrapper-filled" formControlName="social" id="Svnr" mask="9999"
                   placeholder="XXXX"></p-inputMask>
      <label class="" for="Svnr">Sozialversicherungsnummer</label>

      <div *ngIf="social.invalid && (social.dirty || social.touched)" class="alert alert-danger">
        Bitte geben Sie Ihre Sozialversicherungsnummer ein.
      </div>
    </div>
    <div class="p-float-label p-col-12 p-md-6 p-mt-6">
      <p-inputMask class="ng-valid ng-touched ng-dirty" id="SvnrDate" mask="999999" placeholder="TTMMJJ"
                   type="text" formControlName="socialDate"></p-inputMask>
    </div>

    <div class="p-float-label p-col-12 p-mt-6">
      <input class="p-inputtext p-inputwrapper-filled" formControlName="street" id="Street" type="text"/>
      <label class=" required-field" for="Street">Straße</label>

      <div *ngIf="street.invalid && (street.dirty || street.touched)" class="alert alert-danger">
        Bitte geben Sie Ihre Straße ein.
      </div>
    </div>

    <div class="p-float-label p-col-4 p-mt-6">
      <input class="p-inputtext p-inputwrapper-filled" formControlName="house" id="BuildingNr" type="text"/>
      <label class=" required-field" for="BuildingNr">Hausnummer</label>

      <div *ngIf="house.invalid && (house.dirty || house.touched)" class="alert alert-danger">
        Bitte geben Sie Ihre Hausnummer ein.
      </div>
    </div>

    <div class="p-float-label p-col-4 p-mt-6">
      <input class="p-inputtext ng-valid p-inputwrapper-filled" formControlName="door" id="DoorNr" type="text"/>
      <label class="" for="DoorNr">Tür</label>
    </div>

    <div class="p-float-label p-col-4 p-mt-6">
      <input class="p-inputtext ng-valid p-inputwrapper-filled" formControlName="stair" id="StairNr" type="text"/>
      <label class="" for="StairNr">Stiege</label>
    </div>

    <div class="p-float-label p-col-4 p-mt-6">
      <input class="p-inputtext p-inputwrapper-filled" id="PostalCode" formControlName="plz" maxlength="4" type="text"/>
      <label class=" required-field" for="PostalCode">PLZ</label>

      <div *ngIf="plz.invalid && (plz.dirty || plz.touched)" class="alert alert-danger">
        Bitte geben Sie Ihre Postleitzahl ein.
      </div>
    </div>

    <div class="p-float-label p-col-8 p-md-8 p-mt-6">
      <input class="p-inputtext p-inputwrapper-filled" formControlName="location" id="municipality" type="text"/>
      <label class=" required-field" for="municipality">Ort</label>

      <div *ngIf="location.invalid && (location.dirty || location.touched)" class="alert alert-danger">
        Bitte geben Sie Ihren Ort ein.
      </div>
    </div>

    <div class="p-float-label p-col-12 p-mt-6">
      <input class="p-inputtext ng-valid p-inputwrapper-filled" formControlName="email" id="Email" email type="email"/>
      <label class="" for="Email">E-Mail Adresse</label>

      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        Bitte geben Sie Ihre E-Mail Adresse ein.
      </div>
    </div>

    <div class="p-float-label p-col-12 p-md-12 p-mt-2">Gehören Sie zum Bildungspersonal in Österreich?</div>
    <div class="p-col-12 p-md-12 p-mt-3 p-d-flex">
      <div class="p-ml-5 p-field-radiobutton">
        <p-radioButton [value]="true" label="Ja" formControlName="isTeacher"></p-radioButton>
      </div>
      <div class="p-ml-3 p-field-radiobutton">
        <p-radioButton [value]="false" label="Nein" formControlName="isTeacher"></p-radioButton>
      </div>
    </div>

    <div class="p-d-flex p-mt-3">
      <div class="p-field-checkbox p-ml-3 p-mr-3">
        <p-checkbox formControlName="agreedTerms" id="acceptEula"></p-checkbox>
      </div>
      <div class="p-grid">
        <p>
          Ich melde mich selbst zur Testung an und erteile hiermit die ausdrückliche Einwilligung in die
          Verarbeitung der oben angeführten personenbezogenen Daten zum Zweck der Durchführung eines
          Corona-Antigentests. Hiermit bestätige
          ich die Richtigkeit meiner persönlichen Daten und erkläre mich einverstanden, dass meine Daten für
          die gesetzlich zulässigen Zwecke gespeichert und verwendet werden und bestätige, die
          <a href="" target="_blank">Datenschutzinformationen </a> gelesen zu haben.
        </p>
      </div>
    </div>

    <div *ngIf="agreedTerms.invalid && (agreedTerms.dirty || agreedTerms.touched)"
         class="alert alert-danger p-d-flex p-ml-4">
      Bitte stimmen Sie den Datenschutzbestimmungen zu.
    </div>

    <div class="p-col-12 p-mt-3 p-grid p-mt-3 p-jc-end p-ai-center p-mb-5">
      <p-button (onClick)="submit()" label="Anmeldung starten" type="submit"></p-button>
    </div>
  </div>
</section>
