<div class="itemWrapper" *ngIf="screeningStation !== undefined">
    <div class="row">
        <div class="col-3">
            <fa-icon [icon]="faMarker"></fa-icon>
        </div>
        <div class="col-6">
            <div class="row contentRow">
                {{screeningStation.name}}
            </div>
            <div class="row contentRow">
                {{screeningStation.postalCode}} {{screeningStation.city}}
            </div>
            <div class="row contentRow">
                {{screeningStation.address}}
            </div>
        </div>
    </div>
</div>
