<h2>Buchen Sie Ihren Testtermin</h2>
<!--<p>{{selectedFacility.name}}</p>
<p>{{selectedFacility.postalCode}} {{selectedFacility.city}}</p> //TODO: comment in when db works
<p>{{selectedFacility.address}}</p>-->

<p-dropdown [(ngModel)]="selectedDate" (selectionchange)="getTimesFromSelectedDate()">
    <option *ngFor="let date of availableDates" [value]="date">{{getParsedDate(date)}}</option>
</p-dropdown>
<p-listbox [options]="availableTimes" [(ngModel)]="selectedTime" (selectionchange)="anySelectionChanged()"></p-listbox>

<div class="form-row">
    <p-button label="Back" icon="pi pi-angle-left" iconPos="left" (click)="onClickBack()"></p-button>
    <p-button label="Next" icon="pi pi-angle-right" iconPos="right" (click)="onClickNext()"></p-button>
</div>
