<h2>Buchen Sie Ihren Testtermin</h2>
<!--<p>{{selectedFacility.name}}</p>
<p>{{selectedFacility.postalCode}} {{selectedFacility.city}}</p> //TODO: comment in when db works
<p>{{selectedFacility.address}}</p>-->

<p-dropdown (selectionchange)="getTimesFromSelectedDate()" [(ngModel)]="selectedDate">
  <option *ngFor="let date of availableDates" [value]="date">{{date}}</option>
</p-dropdown>
<p-listbox (selectionchange)="anySelectionChanged()" [(ngModel)]="selectedTime" [options]="availableTimes"></p-listbox>


