<footer class="bg-light border-top border-primary text-muted py-3">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<a href="http://htl-grieskirchen.at" target="_blank"><img alt="HTLGKR Logo" height="60" src="assets/HTLGKR_Logo.png"></a>
			</div>
			<div class="col-md-6 text-right mt-2">
				<ul class="list-group list-group-flush" style="list-style-type: none">
					<li>
						<a routerLink="/impressum">Impressum</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
